AUTH_THUNDERID_ID=<your_thunderid_client_id>
AUTH_THUNDERID_SECRET=<your_thunderid_client_secret>
AUTH_THUNDERID_ISSUER=<your_thunderid_issuer_url>
# Generate with `npx auth secret` or `openssl rand -hex 32`
AUTH_SECRET=<YOUR_AUTH_SECRET>
